.Main{
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    min-width: 70%;  
    margin-right: 20px;
    /* max-height: 100%; */
    min-height:950px; 
}

.topbar{
    display: flex;
    background-color: #81172C;
    border-radius: 20px 20px 0px 0px;
    height: 66px;
    justify-content: space-between;
}

#topbarElement{
    display: flex;
}
.topbar H1{
    margin-top: 10px;
    color: #fff; 
}
#mypackageIcon{
    margin-top: 2px;
    width:100px; 
    height: 80px;
}
.searchbar{
    margin-top: 30px;
    margin-left: 10px;
    display: flex;

}

.searchbar input{
    border-radius: 30px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    border-color: #FFF;
    width: 400px;
    height: 20px;
}
.searchbar div{
    width: 28px;
    height: 28px;
    flex-shrink: 0;
    border-radius: 28px;
    background: #fff;
}

#search-icon{
    margin-top: 2.5px;
    margin-left: 5px;
    color: #81172C;
}

#dropdown-basic-button{
    margin-top: 20px;
    margin-right: 20px;
}